$color-blue :#00A5CE;
$color-orange : hsl(34, 94%, 58%);
$color-green : #26FF91;
$color-low-green : #69BA91;
$color-footer-link : #53ffe2;
$color-BG : #1F1F1F;
$horisontal-margin : 5rem;

$color-text :#ebebeb;
$color-text-border :#333;
